@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body, html {
  font-family: 'Montserrat', sans-serif;
  max-height: 100vh;
  width: 100%; }

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #fff; }

ul:link,
ul:visited,
ul:active {
  text-decoration: none;
  color: #fff; }

li:link,
li:visited,
li:active {
  text-decoration: none;
  color: #fff; }

h1 {
  font-weight: 800;
  font-size: 32px; }

h4 {
  font-weight: 800;
  font-size: 18px; }

h6 {
  font-weight: 400;
  font-size: 12px; }

p {
  font-weight: 400;
  font-size: 14px; }

/* Tres medidas que determinan el máximo 
para tomar las propiedades que necesite 
la pantalla */
@media (max-width: 575.98px) {
  .gradient-inicio {
    min-height: 40vh;
    width: 100%; }
  .gradient-inicio img {
    margin-top: 15%;
    width: 100%; }
  .gradient-porque {
    min-height: 40vh;
    width: 100%; }
  .gradient-porque img {
    margin-top: 15%;
    width: 100%; }
  .gradient-contacto {
    min-height: 40vh;
    width: 100%; }
  .gradient-contacto img {
    margin-top: 15%;
    width: 100%; }
  .gradient-plantillas {
    min-height: 40vh;
    width: 100%; }
  .gradient-plantillas img {
    margin-top: 15%;
    width: 100%; }
  .gradient-proyectos {
    min-height: 40vh;
    width: 100%; }
  .gradient-proyectos img {
    margin-top: 15%;
    width: 100%; }
  .gradient-procesos img {
    margin-top: 40%;
    width: 80%; }
  .navbar {
    display: none; }
  .btn-burger {
    margin-right: 10%; }
  .procesos-imagen img {
    display: none; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .gradient-inicio {
    min-height: 50vh;
    width: 100%; }
  .gradient-inicio img {
    margin-top: 20%;
    width: 100%; }
  .gradient-porque {
    min-height: 50vh;
    width: 100%; }
  .gradient-porque img {
    margin-top: 20%;
    width: 100%; }
  .gradient-contacto {
    min-height: 50vh;
    width: 100%; }
  .gradient-contacto img {
    margin-top: 20%;
    width: 100%; }
  .gradient-plantillas {
    min-height: 50vh;
    width: 100%; }
  .gradient-plantillas img {
    margin-top: 20%;
    width: 100%; }
  .gradient-proyectos {
    min-height: 50vh;
    width: 100%; }
  .gradient-proyectos img {
    margin-top: 20%;
    margin-bottom: 5%;
    width: 100%; }
  .gradient-procesos img {
    margin-top: 22%;
    width: 80%; }
  .navbar {
    display: none; }
  .btn-burger {
    margin-right: 10%; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .gradient-inicio {
    min-height: 60vh;
    width: 100%; }
  .gradient-inicio img {
    margin-top: 20%;
    width: 100%; }
  .gradient-porque {
    min-height: 60vh;
    width: 100%; }
  .gradient-porque img {
    margin-top: 20%;
    width: 100%; }
  .gradient-contacto {
    min-height: 60vh;
    width: 100%; }
  .gradient-contacto img {
    margin-top: 20%;
    width: 100%; }
  .gradient-plantillas {
    min-height: 60vh;
    width: 100%; }
  .gradient-plantillas img {
    margin-top: 20%;
    width: 100%; }
  .gradient-proyectos {
    min-height: 60vh;
    width: 100%; }
  .gradient-proyectos img {
    margin-top: 10%;
    width: 100%; }
  .gradient-procesos img {
    margin-top: 12%;
    width: 80%; }
  .navbar {
    display: none; }
  .btn-burger {
    margin-right: 10%; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .gradient-inicio {
    min-height: 80vh;
    width: 100%; }
  .gradient-inicio img {
    margin-top: 20%;
    width: 100%; }
  .gradient-porque {
    min-height: 80vh;
    width: 100%; }
  .gradient-porque img {
    margin-top: 20%;
    width: 100%; }
  .gradient-contacto {
    min-height: 80vh;
    width: 100%; }
  .gradient-contacto img {
    margin-top: 20%;
    width: 100%; }
  .gradient-plantillas {
    min-height: 80vh;
    width: 100%; }
  .gradient-plantillas img {
    margin-top: 20%;
    width: 100%; }
  .gradient-proyectos {
    min-height: 80vh;
    width: 100%; }
  .gradient-proyectos img {
    margin-top: 35%;
    width: 100%; }
  .gradient-procesos img {
    margin-top: 12%;
    width: 80%; }
  .btn-burger {
    display: none; } }

@media (min-width: 1200px) {
  .gradient-inicio {
    min-height: 100vh;
    width: 100%; }
  .gradient-inicio img {
    margin-top: 15%;
    width: 100%; }
  .gradient-porque {
    min-height: 100vh;
    width: 100%; }
  .gradient-porque img {
    margin-top: 15%;
    width: 100%; }
  .gradient-contacto {
    min-height: 100vh;
    width: 100%; }
  .gradient-contacto img {
    margin-top: 15%;
    width: 100%; }
  .gradient-plantillas {
    min-height: 100vh;
    width: 100%; }
  .gradient-plantillas img {
    margin-top: 15%;
    width: 100%; }
  .gradient-proyectos {
    min-height: 100vh;
    width: 100%; }
  .gradient-proyectos img {
    margin-top: 30%;
    width: 100%; }
  .gradient-proyectos {
    min-height: 100vh;
    width: 100%; }
  .gradient-procesos img {
    margin-top: 6%;
    width: 80%; }
  .btn-burger {
    display: none; } }

.textos-centrados {
  margin-top: 40%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch; }

.numeros {
  font-weight: 800;
  font-size: 48px; }

.content-wrapper {
  min-height: 100vh; }

.content-wrapper img {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch; }

header {
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-top: 50px;
  z-index: 10; }

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-around; }

.navbar li {
  font-weight: 800;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px; }

.navbar li:hover {
  font-size: 12px;
  font-weight: 800;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px; }

.dropdown-menu {
  font-size: 12px;
  font-weight: 800;
  background-color: transparent;
  color: 646464;
  border: solid 0px;
  background-color: #fff;
  width: 50%;
  margin-top: 18px;
  padding-left: 50%;
  padding-right: 50%;
  padding-bottom: 50%;
  box-shadow: 0px 0px 0px 0px #2e2e2e; }

.dropdown-menu a {
  color: #313131; }

.dropdown-menu a:hover {
  color: #5f5f5f; }

.dropdown-menu li {
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: end; }

.linea {
  width: 120px;
  height: 1px;
  background: #797979;
  display: block;
  margin-bottom: 3px;
  padding-left: 50px; }

.btn-burger img {
  box-shadow: 0px 0px 5px 0px #2e2e2e;
  border-radius: 100%; }

.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 0.6s cubic-bezier(0.23, 1, 0.32, 1) both; }

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both; }

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both; }

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.pagination ul {
  padding: 10px 30px;
  font-size: 0; }

.pagination li {
  display: inline-block;
  margin: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%; }

.pagination .dots {
  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0); }

.pagination .dots .select {
  position: absolute;
  left: 28px;
  top: 8px;
  width: 20px;
  height: 20px;
  background-color: white; }

.select-proposito {
  left: 60px;
  top: 8px;
  width: 20px;
  height: 20px;
  background-color: white; }

.pagination .dots .dot {
  background-color: rgba(255, 255, 255, 0.212); }

.pagination .buttons {
  position: relative;
  z-index: 500; }

.pagination .buttons .button button {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: rgba(255, 255, 255, 0);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none; }

.dot-fijo {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white; }

.btn-form {
  font-size: 12px;
  font-weight: 800;
  color: white;
  background-color: #00d5a5;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px; }

.btn-form:hover {
  font-size: 12px;
  font-weight: 800;
  color: white;
  background-color: #2f977f;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px; }

.btn-primary-contact {
  font-weight: 800;
  color: #00d5a5;
  font-size: 12px;
  background-color: white;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.btn-primary-contact:hover {
  font-weight: 800;
  background: transparent;
  border: 2px solid;
  color: #fff;
  font-size: 12px;
  background-color: #00d5a5;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.btn-primary-write {
  font-weight: 800;
  background: transparent;
  border: 2px solid;
  color: #fff;
  font-size: 12px;
  background-color: #00d5a5;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.btn-primary-write:hover {
  font-weight: 800;
  color: #00d5a5;
  font-size: 12px;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.btn-primary-plantillas {
  font-weight: 800;
  background: transparent;
  border: 2px solid;
  color: #fff;
  font-size: 12px;
  background-color: #0c8dff;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.btn-primary-plantillas:hover {
  font-weight: 800;
  color: #0c8dff;
  font-size: 12px;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px; }

.contacto {
  background-color: #00d5a5;
  color: #fff; }

.gradient-contacto {
  background: #00d5a5;
  background: linear-gradient(-146deg, #00d5a5 1%, #b3f0e2 100%); }

.navbar-verde a:hover {
  color: #00d5a5; }

.inicio {
  background-color: #392A96;
  color: #fff; }

.gradient-inicio {
  background: #aaa6da;
  background: linear-gradient(214deg, #aaa6da 1%, #392a96 100%); }

.navbar-inicio a:hover {
  color: #392A96; }

.plantillas {
  background-color: #0c8dff;
  color: #fff; }

.gradient-plantillas {
  background: #0c8dff;
  background: linear-gradient(58deg, #0c8dff 1%, #67b6fc 100%); }

.navbar-plantilla a:hover {
  color: #0c8dff; }

.porque {
  background-color: #eb6d36;
  color: #fff; }

.gradient-porque {
  background: #eb6d36;
  background: linear-gradient(-146deg, #eb6d36 1%, #ffa680 100%); }

.navbar-proposito a:hover {
  color: #eb6d36; }

.procesos {
  background-color: #0c8dff;
  color: #fff; }

.gradient-procesos {
  min-height: 60vh;
  width: 100%;
  background: #0c8dff;
  background: linear-gradient(58deg, #0c8dff 1%, #67b6fc 100%); }

.section-process {
  max-height: 100vh;
  width: 100%; }

.textos-centrados-procesos {
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline; }

.navbar-procesos a:hover {
  color: #0c8dff; }

.proyectos {
  background-color: #ec3b99;
  color: #fff; }

.gradient-proyectos {
  background: #ec3b99;
  background: linear-gradient(-45deg, #ec3b99 1%, #ea94c2 100%); }

.navbar-proyectos a:hover {
  color: #ec3b99; }

.servicios {
  background-color: #ff4452;
  color: #fff; }

.gradient-servicios {
  min-height: 100vh;
  width: 100%;
  background: #ff4452;
  background: linear-gradient(45deg, #ff4452 1%, #ff848e 100%); }

.textos-servicios {
  margin-top: 30%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30%; }

.navbar-servicios a:hover {
  color: #ff4452; }
