.contacto {
    background-color: $green1;
    color: $white;
}
 
.gradient-contacto{
    background: rgb(0,213,165);
    background: linear-gradient(-146deg, rgba(0,213,165,1) 1%, rgba(179,240,226,1) 100%); 
}

.navbar-verde a:hover{
    color:#00d5a5;
}

