.inicio {
    background-color: $blue1;
    color: $white;
}
 
.gradient-inicio{
    background: rgb(170,166,218);
    background: linear-gradient(214deg, rgba(170,166,218,1) 1%, rgba(57,42,150,1) 100%);
}
