.plantillas{
    background-color: $blue3;
    color: $white;
}
 
.gradient-plantillas{
    background: rgb(12,141,255);
    background: linear-gradient(58deg, rgba(12,141,255,1) 1%, rgba(103,182,252,1) 100%); 
}

