.porque {
    background-color: $orange1;
    color: $white;
}
 
.gradient-porque{
    background: rgb(235,109,54);
    background: linear-gradient(-146deg, rgba(235,109,54,1) 1%, rgba(255,166,128,1) 100%); 
}

