.proyectos {
    background-color: $magent1;
    color: $white;
}
 
.gradient-proyectos{
    background: rgb(236,59,153);
    background: linear-gradient(-45deg, rgba(236,59,153,1) 1%, rgba(234,148,194,1) 100%); 
}

.navbar-proyectos a:hover{
    color: #ec3b99;
}