.servicios {
    background-color: $red1;
    color: $white;
}
 
.gradient-servicios{
    min-height: 100vh;
    width: 100%;
    background: rgb(255,68,82);
    background: linear-gradient(45deg, rgba(255,68,82,1) 1%, rgba(255,132,142,1) 100%); 
}

.textos-servicios{
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30%; 
}