.btn-form{
    font-size: 12px;
    font-weight: 800;
    color: white;
    background-color: #00d5a5;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-form:hover{
    font-size: 12px;
    font-weight: 800;
    color: white;
    background-color: #2f977f;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-primary-contact {
    font-weight: 800;
    color: #00d5a5;
    font-size: 12px;
    background-color: white;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary-contact:hover{
    font-weight: 800;
    background: transparent;
    border: 2px solid;
    color:  #fff;
    font-size: 12px;
    background-color: #00d5a5;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary-write {
    font-weight: 800;
    background: transparent;
    border: 2px solid;
    color: #fff;
    font-size: 12px;
    background-color: #00d5a5;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary-write:hover{
    font-weight: 800;
    color: #00d5a5;
    font-size: 12px;
    background-color: #fff;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.btn-primary-plantillas {
    font-weight: 800;
    background: transparent;
    border: 2px solid;
    color: #fff;
    font-size: 12px;
    background-color: #0c8dff;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-primary-plantillas:hover{
    font-weight: 800;
    color: #0c8dff;
    font-size: 12px;
    background-color: #fff;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
