//inicio
$blue1: #392A96;
$blue2: #aaa6da;

//procesos-plantillas
$blue3: #0c8dff;
$blue4: #67b6fc;

//proposito
$orange1: #eb6d36;
$orange2: #ffa680;

//proyectos
$magent1: #ec3b99;
$magent2: #ea94c2;

//servicios
$red1: #ff4452;
$red2: #ff848e;

//contactanos
$green1: #00d5a5 ;
$green2: #b3f0e2;

//fonts-otros
$white: #fff;
$gray: #8b8b8b;
$black: #343434;