* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: 'Montserrat', sans-serif;  
}

section {
   max-height: 100vh;
   width: 100%;
}

a:link,
a:visited,
a:active {
   text-decoration: none;
   color: #fff;
}

ul:link,
ul:visited,
ul:active {
   text-decoration: none; 
   color: #fff;
}

li:link,
li:visited,
li:active {
   text-decoration: none; 
   color: #fff;
}

h1{
    font-weight: 800;
    font-size: 32px;   
}


h4{
    font-weight: 800;
    font-size: 18px;   
}

h6{
    font-weight: 400;
    font-size: 12px;   
}

p{
    font-weight: 400;
    font-size: 14px;   
}
 
