header {
    width: 90%;
    position: absolute;
    margin-left: 5%;
    margin-top: 50px;
    z-index: 10;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
}

.navbar li{
    font-weight: 800;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar li:hover{
    font-size: 12px;
    font-weight: 800;
    background-color: #fff;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-menu{
    font-size: 12px;
    font-weight: 800;
    background-color: transparent;
    color: white;
    border: 0px;

}

.dropdown-menu li{
    padding-top: 20px;
    text-align: end;
}

.dropdown-menu li:hover{
    padding-top: 20px;
    text-align: end;

}