header {
    width: 90%;
    position: absolute;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    z-index: 10;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
}

.navbar li{
    font-weight: 800;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar li:hover{
    font-weight: 800;
    // background: transparent;
    // border: 2px solid;
    // color: #fff;
    font-size: 12px;
    background-color: #fff;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-list{
    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: baseline;
}