.textos-centrados{
    margin-top: 40%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40%; ;
    text-align: left;
    display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: baseline;
   align-content: stretch;
}

.numeros{
    font-weight: 800;
    font-size: 32px; 
}

.content-wrapper {
    min-height: 100vh;

}


.content-wrapper img {
    display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: baseline;
   align-content: stretch;
}


